body {
    margin: 0;
    overflow: hidden;
}




/********************* SPIL BAGGRUND *****************/
#game_background {
    background-image: url(Produktion/game_background.svg);
    width: 100vw;
    height: 56vw;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;

}

/* ELEMENTER */

/* GAVE */
#gave {
    background-image: url(Produktion/gave.svg);
    width: 10vw;
    height: 15vw;
    background-size: 100%;
    position: absolute;
    background-repeat: no-repeat;
    left: 50vw;
    top: 35vw;
}

@keyframes fall_downgave {
    0% {
        top: -20vw;
        left: 5vw;
    }

    50% {
        left: 40vw;
    }

    100% {
        top: 35vw;
        left: 5vw;
    }
}

.gave_fall {
    animation-name: fall_downgave;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

/* CANDY */

#candy {
    background-image: url(Produktion/candy.svg);
    width: 6vw;
    height: 14vw;
    background-size: 100%;
    position: absolute;
    background-repeat: no-repeat;
    left: 20vw;
    top: 35vw;

}

@keyframes fall_downcandy {
    0% {
        top: -20vw;
        left: 95vw;
    }

    70% {
        left: 40vw;
    }

    100% {
        top: 35vw;
        left: 95vw;
    }
}

.candy_fall {
    animation-name: fall_downcandy;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

/* BOMBE */


#bombe {
    background-image: url(Produktion/bombe.svg);
    width: 8vw;
    height: 14vw;
    background-size: 100%;
    position: absolute;
    background-repeat: no-repeat;
    left: 70vw;
    top: 35vw;

}

@keyframes fall_downbombe {
    0% {
        top: -20vw;
        left: 20vw;
    }

    70% {
        left: 50vw;
    }

    100% {
        top: 35vw;
        left: 20vw;
    }
}

.bombe_fall {
    animation-name: fall_downbombe;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

/* UI */

#points {
    background-image: url(Produktion/points.svg);
    width: 10vw;
    height: 15vw;
    background-size: 100%;
    position: absolute;
    background-repeat: no-repeat;
    left: 45vw;
    top: 42vw;
}

#energy {
    background-image: url(Produktion/life.svg);
    width: 30vw;
    height: 15vw;
    background-size: 100%;
    position: absolute;
    background-repeat: no-repeat;
    left: 10vw;
    top: 48vw;
}

#time {
    background-image: url(Produktion/time.svg);
    width: 40vw;
    height: 40vw;
    background-size: 100%;
    position: absolute;
    background-repeat: no-repeat;
    left: 56vw;
    top: 52vw;
}

/********************* STARTSKÆRM *****************/
#start {
    background-image: url(Produktion/menu_background.svg);
    width: 100vw;
    height: 56vw;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;

}

/* UI */


#playsign {
    background-image: url(Produktion/play.svg);
    width: 10vw;
    height: 10vw;
    background-size: 100%;
    position: absolute;
    background-repeat: no-repeat;
    left: 75.6vw;
    top: 34vw;
    z-index: 1;
}

#infosign {
    background-image: url(Produktion/info.svg);
    width: 4vw;
    height: 12vw;
    background-size: 100%;
    position: absolute;
    background-repeat: no-repeat;
    left: 85vw;
    top: 46vw;
    z-index: 1;
}

#settingsign {
    background-image: url(Produktion/setting%20sign.svg);
    width: 8vw;
    height: 8vw;
    background-size: 100%;
    position: absolute;
    background-repeat: no-repeat;
    left: 71.5vw;
    top: 47vw;
    z-index: 1;
}

/********************* SETTINGS *****************/
#settings {
    background-image: url(Produktion/settings.svg);
    width: 100vw;
    height: 56vw;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;

}

/* UI */
#knapvolume {
    background-image: url(Produktion/knap%20mute.svg);
    width: 10vw;
    height: 10vw;
    background-size: 100%;
    position: absolute;
    background-repeat: no-repeat;
    left: 55vw;
    top: 26vw;

}

#knapvolume1 {
    background-image: url(Produktion/knap%20mute.svg);
    width: 10vw;
    height: 10vw;
    background-size: 100%;
    position: absolute;
    background-repeat: no-repeat;
    left: 55vw;
    top: 37vw;
}

#volume {
    background-image: url(Produktion/volume.svg);
    width: 25vw;
    height: 10vw;
    background-size: 100%;
    position: absolute;
    background-repeat: no-repeat;
    left: 44vw;
    top: 48vw;

}

#kryds {
    background-image: url(Produktion/escape.svg);
    width: 10vw;
    height: 10vw;
    background-size: 100%;
    position: absolute;
    background-repeat: no-repeat;
    left: 85vw;
    top: 45vw;

}

/********************* INFORMATION *****************/
#information {
    background-image: url(Produktion/information.svg);
    width: 100vw;
    height: 56vw;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;


}

#kryds1 {
    background-image: url(Produktion/escape.svg);
    width: 10vw;
    height: 10vw;
    background-size: 100%;
    position: absolute;
    background-repeat: no-repeat;
    left: 85vw;
    top: 45vw;

}

/********************* GAMEOVER *****************/
#gameover {
    background-image: url(Produktion/Level%20failed.svg);
    width: 100vw;
    height: 56vw;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

/* UI */

#gulpil {
    background-image: url(Produktion/pil%20gul.svg);
    width: 10vw;
    height: 10vw;
    background-size: 100%;
    position: absolute;
    background-repeat: no-repeat;
    left: 45vw;
    top: 40vw;

}


/********************* LEVELCOMPLETE *****************/
#levelcomplete {
    background-image: url(Produktion/Level%20complete.svg);
    width: 100vw;
    height: 56vw;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;


}

/* UI */

#hvidpil {
    background-image: url(Produktion/hvid%20pil.svg);
    width: 10vw;
    height: 10vw;
    background-size: 100%;
    position: absolute;
    background-repeat: no-repeat;
    left: 35vw;
    top: 30vw;

}

#nextlevel {
    background-image: url(Produktion/N%C3%A6ste%20level.svg);
    width: 10vw;
    height: 10vw;
    background-size: 100%;
    position: absolute;
    background-repeat: no-repeat;
    left: 55vw;
    top: 30vw;

}


/********************* JAVASCRIPT *****************/

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

.blur {
    filter: blur(5px) brightness(80%);
}

.fade_out {
    animation-name: fadeout_kf;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeout_kf {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.pulse {
    animation-name: pulse_kf;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}


@keyframes pulse_kf {
    0% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}
